@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;600&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Signika Negative", sans-serif, Arial;
  background-color: #e30512;
  color: white;
}

.section {
  width: 100%;
  height: 100vh;
  
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* fixed positioned elements */
div.fixed {
  position: fixed;
}

#title-container {
  top: 0;
  left: 0;
}

#links-container {
  bottom: 0;
  right: 0;
}

#info-container {
  bottom: 0;
  left: 0;
  width: 23%;
}

#email-container {
  top: 0;
  right: 0;
}

/* add vertical spacing between links */
#links-container div {
  margin-bottom: 3px;
}

/* links styling */
.issue-link {
  color: black;
  font-size: large;
}

.issue-link:hover {
  color: black;
}
/* 
.less-margin{
  margin-top: -50%;
} */

/* media queries to hide elements for smaller screens*/
@media screen and (max-width: 992px) {
  #links-container {
    display: none;
  }

  #title-container,
  #info-container,
  #email-container {
    position: static;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  /* #sections-container {
    margin-top: -5rem;
  } */

  /* #info-container {
    margin-top: 70px;
  } */

  .section {
    height: auto;
    
  }
}
