@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;600&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Signika Negative", sans-serif, Arial;
  background-color: black;
  color: white;
}

.section {
  width: 100%;
  height: 100vh;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* fixed positioned elements */
div.fixed {
  position: fixed;
}

#links-container {
  bottom: 0;
  right: 0;
}

#info-container {
  bottom: 0;
  left: 0;
  width: 23%;
}

#title-container{
  top: 0;
  left: 0;
}

#email-container{
  top: 0;
  right: 0;
}

/* add vertical spacing between links */
#links-container div {
  margin-bottom: 3px; 
}

/* links styling */
.issue-link{
  color: black;
  font-size: large;
}

.issue-link:hover{
  color: black;
}